css

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* design CSS */

#background {
  height: 100vh;
  background-color: #f2eed7;
}

/* #header {
  height: 80px;
  border: 1px solid;
} */

#logo {
  display: block; 
  width: 80px;
  height: 80px;
  background-size : contain;
  background-image: url("https://i.pinimg.com/564x/f4/fb/23/f4fb23f258c19063f80cb1e97da9ec3c.jpg");
  float: left;
}

.gnb {
  float: right;
}

.gnb ul li{
  float: left;
  margin-right  : 30px;
  line-height: 80px;
}

